.grid {
    -fx-alignment: center;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
    -fx-padding: 10px 50px 10px 50px;
}

.hbox {
    -fx-alignment: center;
    -fx-hgap: 10px;
    -fx-spacing: 10px;
    -fx-padding: 10px 10px 10px 10px;
}

.vbox {
    -fx-alignment: center;
    -fx-vgap: 10px;
    -fx-spacing: 10px;
    -fx-padding: 10px 10px 10px 10px;
}

.table-view {
    -fx-pref-width: 270px;
}

.column0 {
    -fx-alignment: center;
    -fx-pref-width: 40px;
}

.column1 {
    -fx-pref-width: 80px;
    -fx-alignment: center;
}

.column2 {
    -fx-pref-width: 140px;
    -fx-alignment: center;
}
